@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ADMIN</h1>
<hr/>
<div>
    @Html.ActionLink("List of Users", "Index", "tblUsers")<br />
    @Html.ActionLink("List of Reasons", "Index", "tblReasonForChats")<br />
    @Html.ActionLink("List of Statuses", "Index", "tblStatus")<br />
</div>
<hr/>